@charset "utf-8";
@import "normalize";
@import "bourbon/bourbon";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@mixin small-device {
  @media (max-width: 480px) {
    @content;
  }
}

$yellow: #FFCF00;
$black: #282832;

body {
  color: $black;
  text-align: center;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  font-size: 1em;
}

#map {
  width: 100%;
  height: 232px
}

h2 {
  letter-spacing: 3px;
  margin-bottom: 90px;
  text-transform: uppercase;
}

h3 {
  letter-spacing: 3px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.half {
  float: left;
  width: 50%;

  .padding-left {
    padding-left: 30px;
  }

  .padding-right {
    padding-right: 30px;
  }
}

nav {
  @include transition(background 0.3s);
  @include position(fixed, 0 0 null 0);
  @include clearfix;
  border-bottom: 2px solid $yellow;

  .links {
    float: right;

    .link {
      @include transition(all 0.2s);
      color: white;
      float: left;
      font-weight: bold;
      margin: 21px 30px 0 0;
      text-decoration: none;

      &:hover {
        color: $yellow;

        @include small-device {
          color: $black;
        }
      }

      &:active {
        opacity: 0.7;

        @include small-device {
          color: white;
        }
      }
    }

    @include small-device {
      float: none;

      .link {
        display: inline-block;
        padding: 20px 10px;
        margin: 0 auto;
        float: none;
        font-size: 13px;
      }
    }

    @include small-device {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 99999;
    }
  }

  .logo {
    display: block;
    float: left;
    margin: 10px 0 10px 30px;

    svg {
      width: 73px;
    }

    @include small-device {
      display: none;
    }
  }

  &.scrolling {
    background: white;

    .link {
      color: $black;
    }

    .logo {
      svg .st0 {
        fill: $black;
      }
    }
  }
}

.button {
  @include transition(all 0.2s);
  color: white;
  border: 2px solid white;
  border-radius: 3px;
  display: block;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 30px;
  width: 200px;
  margin: 0 auto;
  text-decoration: none;

  &:hover {
    background: white;
    color: $black;

    @include small-device {
      background: none;
    }
  }

  &:active {
    opacity: 0.7;

    @include small-device {
      background: white;
    }
  }
}

.hero {
  background: url('/images/collage-dark.jpg');
  background-size: cover;
  background-position: center;
  padding: 210px 0 200px;

  @include small-device {
    padding: 81 0 70px;
  }
}

.hero-logo {
  margin-bottom: 80px;
  width: 338px;

  @include small-device {
    width: 70%;
  }
}

section {
  padding: 100px 2%;
}

.align-left {
  text-align: left;
}

.wrapper {
  @include clearfix;
  margin: 0 auto;
  max-width: 960px;
  width: 100%;

  &.margin-bottom {
    margin-bottom: 70px;
  }
}
