---
title: John & Solange
---

.hero
  .hero-circle
    = image_tag 'hero-logo.svg', class: 'hero-logo'

    = link_to 'RSVP', 'https://docs.google.com/forms/d/e/1FAIpQLSdlM_sFthDq0tHJtlYM4khhgnhe6OCOTxUIff9lF--zMtRobQ/viewform', class: 'button'

%section#venue
  .wrapper.margin-bottom
    %h2
      The Venue
    .half
      .padding-right
        #map
    .half.align-left
      .padding-left
        %p
          The wedding will take place on the waterfront at Cordage Commerce center. It will be a tented reception with plenty of parking.
        %p
          %strong
            10 Cordage Park Circle
        %p
          %strong
            Plymouth, MA 02360

  / .wrapper
  /   %h3
  /     Timeline
