---
title: John & Solange
---

.hero
  .hero-circle
    = image_tag 'hero-logo.svg', class: 'hero-logo'

    = link_to 'RSVP', 'https://docs.google.com/forms/d/e/1FAIpQLSdlM_sFthDq0tHJtlYM4khhgnhe6OCOTxUIff9lF--zMtRobQ/viewform', class: 'button'

%section#venue
  .wrapper.margin-bottom
    %h2
      The Venue
    .half
      .padding-right
        #map
    .half.align-left
      .padding-left
        %p
          The wedding will take place on the waterfront at Cordage Commerce center. It will be a tented reception with plenty of parking.
        %strong
          10 Cordage Park Circle
        %br
        %strong
          Plymouth, MA 02360

  .wrapper
    %h3
      Timeline
    .step
      .time
        4PM
      %h6
        Ceremony
      %p
        The cermemony will be officiated by James Duggan, a close friend of the bride and groom.
    .step
      .time
        5PM
        .arrow
      %h6
        Cocktail Hour
      %p
        We will be serving beer, wine, and two signature cocktails chosen by the bride and groom.
    .step
      .time
        6PM
        .arrow
      %h6
        Reception
      %p
        There will be a buffet style dinner, live music, dancing, and a bonfire on the beach!
